@charset "UTF-8";
* {
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  background-color: #faeee7;
}

.invisible {
  display: none;
}

.text-center {
  text-align: center;
}

.rounded-container img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: #ff8ba7 solid 3px;
  transition: all 0.2s ease-in-out;
}
.rounded-container img:hover {
  filter: drop-shadow(3px 0px 30px #ff8ba7);
}

.bio {
  padding: 40px;
}
.bio h1 {
  color: #33272a;
  font-weight: 800;
}
.bio p {
  font-weight: 800;
  color: #594a4e;
  line-height: 1.5;
}

.time-line {
  border-left: 2px solid #ccc;
}
.time-line div {
  line-height: 1.7;
}
.time-line div::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #ddd;
  position: relative;
  left: -28px;
  top: 27px;
}
.time-line h2 {
  color: #ff8ba7;
}

.highlight {
  color: #ff8ba7;
  font-family: "Skranji", cursive;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.row-gap-1 {
  row-gap: 10px;
}

.row-gap-2 {
  row-gap: 20px;
}

.row-gap-3 {
  row-gap: 30px;
}

.row-gap-4 {
  row-gap: 40px;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.header {
  margin-top: 50px;
}

@media (min-width: 480px) {
  .header .row {
    flex-direction: row-reverse;
  }
}
.navbar .container, .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  padding: 20px;
}
.navbar .navbar-title {
  font-weight: bold;
  font-family: "Skranji", cursive;
  font-size: 48px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar a {
  text-decoration: none;
  color: #33272a;
  font-weight: bold;
  display: block;
  transition: transform 0.3s ease;
}
.navbar li {
  float: left;
  margin-left: 20px;
}
.navbar li:hover {
  border-bottom: #ff8ba7 solid 2px;
}
.navbar li:hover a {
  transform: translateY(-3px);
}
.navbar li .icon {
  display: none;
}

@media screen and (max-width: 720px) {
  .navbar-responsive {
    display: none;
  }
}
.menu a {
  color: #33272a;
  margin-left: 20px;
}
.menu a:hover i {
  color: #ff8ba7;
}
.menu a svg:hover {
  fill: #ff8ba7;
}

.sidebar {
  width: 0;
  height: 100%;
  padding-top: 10px;
  position: fixed;
  background-color: #ffc6c7;
  transition: all 0.3s ease-in-out;
  left: -300px;
  z-index: 10;
}
.sidebar.active {
  width: 100%;
  left: 0;
}
.sidebar .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #33272a;
}
.sidebar .close:hover {
  color: #ff8ba7;
}
.sidebar .navbar-title {
  font-weight: bold;
  font-family: "Skranji", cursive;
  font-size: 36px;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #33272a;
}
.sidebar li {
  float: none;
  display: block;
  padding-top: 10px;
}
.sidebar ul a {
  text-decoration: none;
  color: #33272a;
  font-weight: bold;
  display: block;
  transition: transform 0.3s ease;
}
.sidebar ul a:hover {
  color: #ff8ba7;
}

@media (min-width: 720px) {
  .menu {
    display: none;
  }
}
.about-me {
  padding: 40px;
}
.about-me .key {
  color: #ff8ba7;
}
.about-me .title {
  color: #33272a;
  padding-bottom: 3px;
  border-bottom: #ff8ba7 solid 2px;
}
.about-me p {
  font-weight: 800;
  color: #594a4e;
  line-height: 1.5;
}

.project-card .tech-stack-icons, .project-card .project-name, .project-card .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#projects-container {
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.project-card {
  position: relative;
  inset: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 120px;
}
.project-card .overlay {
  background-color: black;
  opacity: 0.3;
  border-radius: 5px;
  transition: opacity 0.3s;
}
.project-card .project-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card .project-name h3 {
  color: whitesmoke;
  font-weight: 700;
}
.project-card .tech-stack-icons {
  top: 15px;
  display: flex;
  align-items: end;
}
.project-card .tech-stack-icons img {
  width: 38px;
  height: 38px;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.project-card:hover {
  transform: scale(1.1);
}
.project-card:hover .overlay {
  opacity: 0.1;
}
.project-card:hover .tech-stack-icons img {
  transform: scale(1);
}

.more {
  margin-top: 20px;
}
.more ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.more a {
  text-decoration: none;
  color: #33272a;
  font-weight: bold;
  display: block;
  transition: transform 0.3s ease;
}
.more li:hover {
  border-bottom: #ff8ba7 solid 2px;
}
.more li:hover a {
  transform: translateY(-3px);
}

.collapsible {
  background-color: transparent;
  border-width: 0;
  color: #594a4e;
  font-weight: bold;
  font-size: large;
  width: 100%;
}
.collapsible:hover {
  cursor: pointer;
}
.collapsible::after {
  content: "+";
  color: #33272a;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible-open {
  margin-bottom: 10px;
}
.collapsible-open::after {
  content: "−";
}

.collapsed-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-evenly;
  row-gap: 10px;
}
.collapsed-content div {
  padding: 5px;
  border: 1px solid #33272a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.collapsed-content img {
  height: 24px;
  margin-right: 5px;
  position: relative;
}

.tech-stack-item {
  padding: 5px;
  border: 2px solid #33272a;
  border-radius: 5px;
  box-shadow: #ff8ba7 0px 5px 15px;
}
.tech-stack-item .tech-stack-icon {
  height: 24px;
  width: 24px;
  margin-left: 20px;
  position: absolute;
}

.para {
  color: #594a4e;
  font-weight: 1000;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  font-style: italic;
}

.footer {
  border-top: 1px solid rgba(89, 74, 78, 0.2);
  padding: 40px 0;
  color: #594a4e;
}
.footer p {
  margin-bottom: 10px;
}
.footer .title {
  color: #33272a;
  padding-bottom: 3px;
  border-bottom: #ff8ba7 solid 2px;
}
.footer a {
  text-decoration: none;
  margin-left: 20px;
}
.footer a:hover i {
  color: #ff8ba7;
}
.footer i {
  font-size: 24px;
}
.footer svg {
  height: 20px;
}
.footer svg:hover {
  fill: #ff8ba7;
}

.skills {
  margin-top: 20px;
  padding: 20px;
}
.skills .skill {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills .skill span {
  color: #594a4e;
}
.skills .skill span:hover {
  color: #ff8ba7;
}

.resume {
  margin-top: 20px;
}
.resume a {
  padding: 20px;
  text-decoration: none;
  background-color: #ff8ba7;
  color: #33272a;
  border-radius: 10px;
}
.resume a:hover {
  color: #594a4e;
}

@media screen and (max-width: 720px) {
  .footer .row div {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .skills .skill {
    flex-direction: column;
  }
}