.about-me {
    padding: 40px;

    .key {
        color: $primary;
    }

    .title {
        color: $stroke;
        padding-bottom: 3px;
        border-bottom: $primary solid 2px;
    }

    p {
        font-weight:800;
        color: $textColor;
        line-height: 1.5;
    }
}