* {
    margin: 0;
}

@import 'variables';
@import 'breakpoints';

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: $background
}

.invisible {
    display: none;
}

.text-center {
    text-align: center;
}

.rounded-container {

    img {   
        height: 300px;
        width: 300px;
        border-radius: 50%;
        object-fit: cover;
        border: $primary solid 3px;
        transition: all 0.2s ease-in-out;

        &:hover {
            filter: drop-shadow(3px 0px 30px $primary);
        }
    }
}

.bio {
    padding: 40px;

    h1 {
        color: $stroke;
        font-weight: 800;
    }

    p {
        font-weight:800;
        color: $textColor;
        line-height: 1.5;
    }
}

.time-line{
    border-left: 2px solid #ccc;

    div{
        line-height: 1.7;
    }

    div::before{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        border: 3px solid #ddd;
        position: relative;
        left: -28px;
        top: 27px;
    }

    h2{
        color: $primary;
    }
}

.highlight {
    color: $primary;
    font-family: 'Skranji', cursive;
}

@import 'grid';

.header {
    margin-top: 50px;
}

@include sm {
    .header {
        .row {
            flex-direction: row-reverse;
        }
    }
}

@import 'navbar';
@import 'sidebar';
@import 'aboutme';
@import 'projectcard';
@import 'collapsible';
@import 'techstackitem';
@import 'footer';

.skills {
    margin-top: 20px;
    padding: 20px;

    .skill {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            color: $textColor;

            &:hover {
                color: $primary;
            }
        }
    }
}

.resume {
    margin-top: 20px;

    a {
        padding: 20px;
        text-decoration: none;
        background-color: $primary;
        color: $stroke;
        border-radius: 10px;

        &:hover {
            color: $textColor;
        }
    }
}

@media screen and (max-width: 720px) {
    .footer {
        .row{
            div {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
        }
        
        // .social-links {
        //     // display: none;
        // }
    }

    .skills {
        .skill {
            flex-direction: column;
        }
    }
}